@font-face {
  font-family: "optitimes";
  src: url("../public/fonts/OPTITimes-Roman.ttf") format("truetype");
}

@font-face {
  font-family: "optitimesItalic";
  src: url("../public/fonts/OPTITimesRoman-Italic.ttf") format("truetype");
}

:root {
  --blue: #3834FF;
}