.bug1,
.bug2,
.bug3,
.bug4,
.bug5 {
  position: absolute;
}

.bug1 {
  width: 352px;
  height: 179px;
  display: none;
}

.bug2 {
  width: 755px;
  height: 131px;
  display: none;
}

.bug3 {
  width: 440px;
  height: 238px;
  display: none;
}

.bug4 {
  width: 523px;
  height: 241px;
  display: none;
}

.bug5 {
  width: 419px;
  height: 317px;
  display: none;
}
