.arrow {
  width: 1px;
  height: 97px;
  background: #fff;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: -5px;
    bottom: 0;
    transform: rotate(135deg);
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}

.check {
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
  animation: dash 2s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
