@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #3834ff;
  --dark: #1d1e1f;
  --light-dark: #181818;
  --card-blue: #2c4bff;
  --card-green: #81ff63;
  --card-purple: #8731ff;
  --card-gray: #d5d3d7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: TimesNewRoman, 'Times New Roman', 'NanumSquare', Times, Baskerville, Georgia, serif;
  font-display: swap;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  cursor: url('/icons/cursor.svg'), auto;
  font-size: 50px;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
textarea {
  background: transparent;
  outline: none;
}

.middle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mobile {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
