.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dark);
  border-radius: 16px;
}

.blue {
  background: radial-gradient(59.24% 59.24% at 47.11% 15.1%, #3834ff 0%, rgba(29, 30, 31, 0) 100%),
    radial-gradient(152.28% 71.59% at 24.09% 114.48%, rgba(24, 80, 189, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(96.36% 47.79% at 100% 97.86%, rgba(47, 93, 255, 0.7) 0%, rgba(29, 30, 31, 0) 100%);
  border: 0.833333px solid #6792ff;
}
.green {
  background: radial-gradient(59.24% 59.24% at 47.11% 15.1%, #b6d92c 0%, rgba(29, 30, 31, 0) 100%),
    radial-gradient(152.28% 71.59% at 24.09% 114.48%, rgba(182, 217, 44, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(96.36% 47.79% at 100% 97.86%, rgba(0, 0, 0, 0.7) 0%, rgba(29, 30, 31, 0) 100%);
  border: 0.833333px solid #485a00;
}
.purple {
  background: radial-gradient(59.24% 59.24% at 47.11% 15.1%, #8c20b1 0%, rgba(29, 30, 31, 0) 100%),
    radial-gradient(152.28% 71.59% at 24.09% 114.48%, rgba(111, 44, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(96.36% 47.79% at 100% 97.86%, rgba(140, 32, 177, 0.1) 0%, rgba(29, 30, 31, 0) 100%);
  border: 0.833333px solid #8c20b1;
}
.gray {
  background: radial-gradient(59.24% 59.24% at 47.11% 15.1%, #cfcfcf 0%, rgba(255, 255, 255, 0) 100%),
    radial-gradient(152.28% 71.59% at 24.09% 114.48%, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(96.36% 47.79% at 100% 97.86%, rgba(222, 222, 222, 0.7) 0%, rgba(29, 30, 31, 0) 100%);
  border: 0.698073px solid #a8a8a8;
}

.guestcard {
  position: relative;
  width: 22vw;
  height: 66vh;
  // width: 389px;
  // height: 604px;

  //content
  section:last-child {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4% 5%;
    align-items: center;

    & > p {
      position: absolute;
      bottom: 18px;
      right: 20px;
    }

    article {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: calc(100% - 57%);
      align-items: flex-start;
      padding: 20px 15px;
      gap: 9px;

      h3 {
        font-size: 22px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      p {
        margin-top: 10px;
        font-size: 18px;
        text-align: left;
        width: 100%;
        height: 100%;
        overflow: hidden;
        //TODO: do work ellipsis !!
        text-overflow: ellipsis;
        white-space: pre;
      }
    }
  }
}

.small {
  width: 16vw;
  height: 25vw;

  section:last-child article {
    gap: 3px;
    padding: 15px 10px;

    h3 {
      font-size: 15px;
    }
    p {
      font-size: 13px;
    }
  }
}

.profile {
  width: 100%;
  min-height: 57%;
  // width: 358px;
  // height: 345px;
  background: #000;
  border-radius: 16px;
  justify-self: flex-start;
  padding: 15%;
}

.profile-blue {
  border: 0.833333px solid #6792ff;
}
.profile-purple {
  border: 0.833333px solid #8c20b1;
}
.profile-green {
  border: 0.833333px solid #485a00;
}
.profile-gray {
  border: 0.698073px solid #a8a8a8;
}

.commentarea {
  width: 100%;
  background: #000;
  border-radius: 0.375rem;
  font-size: 16px;
  padding: 1em;
  resize: none;
  ::placeholder {
    color: #646464;
  }
  &::-webkit-scrollbar {
    margin-right: 10px;
    border-radius: 0.375rem;
    width: 20px;
    padding: 5px;
  }
  &::-webkit-scrollbar-thumb {
    width: 2px;
    margin-right: 10px;
    height: 70%;
    border: 6px solid black;
    background: #181818;
    border-radius: 0.375rem;
    padding: 20px;
  }
}
