.swiper {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // > div {
  //   animation: marquee 15s linear infinite;
  // }
}

.non > div {
  justify-content: center !important;
}
